body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1.5rem;
  padding: 1.5rem;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.card h3 {
  margin: 0.5rem 0;
  font-size: 16px;
}

.card p {
  color: rgb(2, 17, 2);
  font-weight: bold;
}

/* Detalle */
.detalle {
  padding: 1rem;
}

.detalle-contenido {
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.detalle img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin-bottom: 1rem;
}

.oculto {
  display: none;
}

button {
  margin-bottom: 1rem;
  padding: 8px 12px;
  cursor: pointer;
}